extends ./common/common.pug
block links
	+_link('../static/src/css/register.css')
block doms
	div.form-container
		h2.title 注册VIP
		form(action="/form/addUser" class="form-content" method="post" enctype="application/x-www-form-urlencoded")
			p
				label(for="username") 用户名：
				input(type="text" name="username" class="input-box" placeholder="请输入您的用户名")
			p
				label(for="address") 详细地址：
				input(type="text" id="address" name="address" class="input-box" placeholder="请输入您的详细地址")
			p
				label(for="password") 密&nbsp;&nbsp;&nbsp;码：
				input(type="password" name="password" class="input-box" placeholder="请输入密码")
			p.btn-area
				input(type="submit" id="submit" class="button" value="注册")
				input(type="reset" id="reset" class="button" value="重置")
		div.backLogin
			a(href="/form")
				input(type="button" id="back" class="button" value="返回登录")