.form-container {
	width: 45rem;
	border: 1px solid #e9e9e9;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px 40px;
}
.title {
	text-align: center;
	margin:1rem 0 2rem;
	transition: font-size ease 1s,color 1s,transform 1s;	
}
.title:hover{
	font-size:3rem;
	transform:rotate3d(1,1,1,1080deg);
	color: #ff9898;
}
label {
	font-size:1.6rem;
    color: #ff9898;
    text-align: right;
    width: 10rem;
	display: inline-block;
}
label:hover{
	transition: color 1s,font-size 1s,transform ease 1s;
	-webkit-transtrition:color 1s,font-size 2s,transform 1s;
	color:green;
	font-size:2rem;
	transform:rotateX(360deg);
}
.input-box 
{
	border: 1px solid #e9e9e9;
	outline: 0px;
	color:#ff9898;
	line-height: 3rem;
	font-size: 1.6rem;
	margin-left:1rem;
	width: 30rem;
	text-indent: 1rem;
	border-radius:1rem;
}
.input-box:focus{
	border:1px solid green;
	transition:border ease 2s;
}
p.btn-area {
	padding-left:11rem;
}
.button{
	font-size:1.2rem;
	outline: 0px;
	border: 1px solid #eee;
	background-color: #fff;
	border-radius:1.5rem;
	padding:0.5rem 1.5rem;
}
#submit{margin-right:5rem;}
.backLogin{
text-align: right;
margin-top: 4rem;
margin-right: 3rem;
}
.button:hover{
	transition: font-size 1s;
	font-size: 2rem;
	cursor: pointer;
	background-color: #49a9ee;
	color: #fff;
}
